In [1]:
from data.load_data import load_data

In [2]:
test = load_data('data/ideal.csv')
train =  load_data('../data/train')
ideal = load_data('../data/ideal')

There is no a file
There is no a file
There is no a file

In [3]:
import os
os.getcwd()

'/Users/renatarenata/uibh/My_assessments/python_project_iubh/src'

In [6]:
os.chdir('/Users/renatarenata/uibh/My_assessments/python_project_iubh/')

In [13]:
test = load_data('data/test.csv')
train =  load_data('data/train.csv')
ideal = load_data('data/ideal.csv')

Data is perfect!
Data is perfect!
Data is perfect!

In [14]:
train

        x        y1         y2        y3         y4
0   -20.0  5.496272  400.38100  1.041286  20.205830
1   -19.9  5.160728  396.40286  0.379981  20.173979
2   -19.8  4.851429  391.57290  0.333350  19.645940
3   -19.7  5.398873  388.43604  0.447698  20.181671
4   -19.6  4.959391  384.01794  0.778000  19.664125
..    ...       ...        ...       ...        ...
395  19.5  4.835873  380.25308 -0.866284  19.568678
396  19.6  5.616182  383.70100 -0.313897  19.555042
397  19.7  4.990457  388.02800 -0.337167  19.841520
398  19.8  5.449649  391.93365 -0.671283  19.741413
399  19.9  5.644161  396.34897 -0.447318  19.774706

[400 rows x 5 columns]

In [23]:
train.columns.difference(['x'])

Index(['y1', 'y2', 'y3', 'y4'], dtype='object')

In [43]:
import pandas as pd

perfect_ys = pd.DataFrame(columns =["y1_ideal", "y2_ideal", "y3_ideal", "y4_ideal"])
train_construct = pd.DataFrame(columns = ['construct1', 'construct2', 'construct3', 'construct4'])


for column_i in ideal.columns:
    for i, ys in enumerate(train.columns.difference(['x'])):
        
        column_c_name = 'construct'+ str(i+1)
        column_name = 'y'+ str(i+1)
        
        train_construct[column_c_name] = (train[column_name]-ideal[column_i])**2
    
        a = train_construct.sum(axis=0)
    perfect_ys = perfect_ys.append(a, ignore_index = True) 
        
       
        
        #perfect_ys = perfect_ys.append(train_construct[column_c_name].sum(axis=1), ignore_index = True)

In [44]:
train_construct

     construct1     construct2  construct3  construct4
0     26.004109  159987.320571    0.415298  392.395704
1     21.937739  156757.323082    0.009404  387.972796
2     18.509784  152899.589409    0.046561  364.688187
3     22.906116  150406.834536    0.027272  382.939151
4     18.416879  146957.251711    0.012122  360.856492
..          ...            ...         ...         ...
395   16.986259  144049.583732    2.498670  355.482513
396   24.485476  146714.354240    0.963929  356.724061
397   19.163536  150090.506275    0.902513  369.742138
398   24.015098  153181.843200    1.489406  368.343761
399   26.700026  156714.653091    0.854278  372.403234

[400 rows x 4 columns]

In [45]:
perfect_ys

,y1_ideal,y2_ideal,y3_ideal,y4_ideal,construct1,construct2,construct3,construct4
0,NaN,NaN,NaN,NaN,6.187247e+04,1.286948e+07,5.326416e+04,1.094579e+05
1,NaN,NaN,NaN,NaN,8.664654e+03,1.280102e+07,8.224409e+02,5.553509e+04
2,NaN,NaN,NaN,NaN,8.585536e+03,1.278511e+07,4.342561e+02,5.475830e+04
3,NaN,NaN,NaN,NaN,1.496076e+04,1.177439e+07,4.080046e+04,1.215798e+04
4,NaN,NaN,NaN,NaN,1.925155e+03,1.226198e+07,1.061483e+04,2.326132e+04
5,NaN,NaN,NaN,NaN,8.231096e+04,1.390616e+07,4.001818e+04,1.787910e+05
6,NaN,NaN,NaN,NaN,8.643580e+03,1.279956e+07,3.271793e+01,5.545046e+04
7,NaN,NaN,NaN,NaN,9.082762e+03,1.282273e+07,4.379214e+02,5.659882e+04
8,NaN,NaN,NaN,NaN,8.627933e+03,1.280050e+07,4.325018e+02,5.546085e+04
9,NaN,NaN,NaN,NaN,9.120668e+03,1.277053e+07,1.044646e+03,5.462755e+04
10,NaN,NaN,NaN,NaN,3.528027e+04,1.291009e+07,2.538250e+04,8.568087e+04
11,NaN,NaN,NaN,NaN,6.187247e+04,1.286948e+07,5.326416e+04,1.094579e+05
12,NaN,NaN,NaN,NaN,4.833286e+05,1.311628e+07,4.806931e+05,5.224729e+05
13,NaN,NaN,NaN,NaN,2.491979e+05,1.358924e+07,2.233669e+05,3.223667e+05
14,NaN,NaN,NaN,NaN,6.171119e+04,1.283738e+07,5.386643e+04,1.078031e+05
15,NaN,NaN,NaN,NaN,1.530532e+04,1.248908e+07,1.737424e+04,4.686864e+04
16,NaN,NaN,NaN,NaN,1.228100e+07,3.678083e+01,1.280188e+07,1.123734e+07
17,NaN,NaN,NaN,NaN,1.333698e+07,5.120122e+07,1.279965e+07,1.447432e+07
18,NaN,NaN,NaN,NaN,5.015461e+07,1.280104e+07,5.120459e+07,4.802045e+07
19,NaN,NaN,NaN,NaN,1.335399e+07,4.010190e+04,1.390855e+07,1.226066e+07
20,NaN,NaN,NaN,NaN,1.506544e+07,1.950651e+06,1.561434e+07,1.398156e+07
21,NaN,NaN,NaN,NaN,3.657502e+09,3.676690e+09,3.657368e+09,3.657824e+09
22,NaN,NaN,NaN,NaN,3.649413e+09,3.243574e+09,3.657483e+09,3.631673e+09
23,NaN,NaN,NaN,NaN,3.657441e+09,3.663836e+09,3.657558e+09,3.657212e+09
24,NaN,NaN,NaN,NaN,1.462992e+10,1.465551e+10,1.462966e+10,1.463052e+10
25,NaN,NaN,NaN,NaN,3.291702e+10,3.294848e+10,3.291665e+10,3.291787e+10
26,NaN,NaN,NaN,NaN,4.395482e+09,4.263600e+09,4.398545e+09,4.389230e+09
27,NaN,NaN,NaN,NaN,4.474787e+09,4.329728e+09,4.478110e+09,4.467966e+09
28,NaN,NaN,NaN,NaN,3.683156e+09,3.702361e+09,3.683022e+09,3.683479e+09
29,NaN,NaN,NaN,NaN,3.663374e+09,3.657490e+09,3.663770e+09,3.662606e+09
30,NaN,NaN,NaN,NaN,3.721406e+09,3.790224e+09,3.720232e+09,3.723885e+09
31,NaN,NaN,NaN,NaN,2.356298e+04,1.125344e+07,5.361787e+04,1.835250e+02
32,NaN,NaN,NaN,NaN,1.463882e+03,1.239523e+07,4.239296e+03,3.000257e+04
33,NaN,NaN,NaN,NaN,2.455740e+04,1.123577e+07,5.561557e+04,3.500389e+01
34,NaN,NaN,NaN,NaN,7.131453e+03,1.274501e+07,9.816817e+02,5.137413e+04
35,NaN,NaN,NaN,NaN,1.724862e+04,1.228006e+07,1.362159e+04,4.354237e+04
36,NaN,NaN,NaN,NaN,1.150664e+06,6.133516e+06,1.333844e+06,8.464117e+05
37,NaN,NaN,NaN,NaN,1.000207e+05,1.445342e+07,5.351272e+04,2.170774e+05
38,NaN,NaN,NaN,NaN,8.945119e+03,1.281642e+07,1.027649e+03,5.648144e+04
39,NaN,NaN,NaN,NaN,1.228048e+07,2.346830e+02,1.280174e+07,1.123685e+07
40,NaN,NaN,NaN,NaN,4.832406e+07,2.540956e+07,4.918932e+07,4.676940e+07
41,NaN,NaN,NaN,NaN,2.217198e+05,1.304565e+07,2.129219e+05,2.700678e+05
42,NaN,NaN,NaN,NaN,2.216618e+05,1.297381e+07,2.142364e+05,2.666740e+05
43,NaN,NaN,NaN,NaN,2.105621e+03,1.251892e+07,3.028209e+03,3.794193e+04
44,NaN,NaN,NaN,NaN,8.492090e+03,1.280119e+07,2.313679e+02,5.538146e+04
45,NaN,NaN,NaN,NaN,2.389089e+04,1.150778e+07,5.849539e+04,1.005399e+04
46,NaN,NaN,NaN,NaN,3.228293e+01,1.227901e+07,8.710418e+03,2.443092e+04
47,NaN,NaN,NaN,NaN,3.386947e+04,1.333817e+07,8.738264e+03,1.031482e+05
48,NaN,NaN,NaN,NaN,8.471965e+03,1.280026e+07,2.490184e+02,5.532093e+04
49,NaN,NaN,NaN,NaN,8.670623e+03,1.280540e+07,4.200051e+02,5.571377e+04
50,NaN,NaN,NaN,NaN,8.545299e+03,1.278682e+07,3.889228e+02,5.479819e+04

In [18]:
a1

        y1_ideal      y2_ideal      y3_ideal      y4_ideal
0   6.187247e+04  1.286948e+07  5.326416e+04  1.094579e+05
1   8.664654e+03  1.280102e+07  8.224409e+02  5.553509e+04
2   8.585536e+03  1.278511e+07  4.342561e+02  5.475830e+04
3   1.496076e+04  1.177439e+07  4.080046e+04  1.215798e+04
4   1.925155e+03  1.226198e+07  1.061483e+04  2.326132e+04
5   8.231096e+04  1.390616e+07  4.001818e+04  1.787910e+05
6   8.643580e+03  1.279956e+07  3.271793e+01  5.545046e+04
7   9.082762e+03  1.282273e+07  4.379214e+02  5.659882e+04
8   8.627933e+03  1.280050e+07  4.325018e+02  5.546085e+04
9   9.120668e+03  1.277053e+07  1.044646e+03  5.462755e+04
10  3.528027e+04  1.291009e+07  2.538250e+04  8.568087e+04
11  6.187247e+04  1.286948e+07  5.326416e+04  1.094579e+05
12  4.833286e+05  1.311628e+07  4.806931e+05  5.224729e+05
13  2.491979e+05  1.358924e+07  2.233669e+05  3.223667e+05
14  6.171119e+04  1.283738e+07  5.386643e+04  1.078031e+05
15  1.530532e+04  1.248908e+07  1.737424e+04  4.686864e+04
16  1.228100e+07  3.678083e+01  1.280188e+07  1.123734e+07
17  1.333698e+07  5.120122e+07  1.279965e+07  1.447432e+07
18  5.015461e+07  1.280104e+07  5.120459e+07  4.802045e+07
19  1.335399e+07  4.010190e+04  1.390855e+07  1.226066e+07
20  1.506544e+07  1.950651e+06  1.561434e+07  1.398156e+07
21  3.657502e+09  3.676690e+09  3.657368e+09  3.657824e+09
22  3.649413e+09  3.243574e+09  3.657483e+09  3.631673e+09
23  3.657441e+09  3.663836e+09  3.657558e+09  3.657212e+09
24  1.462992e+10  1.465551e+10  1.462966e+10  1.463052e+10
25  3.291702e+10  3.294848e+10  3.291665e+10  3.291787e+10
26  4.395482e+09  4.263600e+09  4.398545e+09  4.389230e+09
27  4.474787e+09  4.329728e+09  4.478110e+09  4.467966e+09
28  3.683156e+09  3.702361e+09  3.683022e+09  3.683479e+09
29  3.663374e+09  3.657490e+09  3.663770e+09  3.662606e+09
30  3.721406e+09  3.790224e+09  3.720232e+09  3.723885e+09
31  2.356298e+04  1.125344e+07  5.361787e+04  1.835250e+02
32  1.463882e+03  1.239523e+07  4.239296e+03  3.000257e+04
33  2.455740e+04  1.123577e+07  5.561557e+04  3.500389e+01
34  7.131453e+03  1.274501e+07  9.816817e+02  5.137413e+04
35  1.724862e+04  1.228006e+07  1.362159e+04  4.354237e+04
36  1.150664e+06  6.133516e+06  1.333844e+06  8.464117e+05
37  1.000207e+05  1.445342e+07  5.351272e+04  2.170774e+05
38  8.945119e+03  1.281642e+07  1.027649e+03  5.648144e+04
39  1.228048e+07  2.346830e+02  1.280174e+07  1.123685e+07
40  4.832406e+07  2.540956e+07  4.918932e+07  4.676940e+07
41  2.217198e+05  1.304565e+07  2.129219e+05  2.700678e+05
42  2.216618e+05  1.297381e+07  2.142364e+05  2.666740e+05
43  2.105621e+03  1.251892e+07  3.028209e+03  3.794193e+04
44  8.492090e+03  1.280119e+07  2.313679e+02  5.538146e+04
45  2.389089e+04  1.150778e+07  5.849539e+04  1.005399e+04
46  3.228293e+01  1.227901e+07  8.710418e+03  2.443092e+04
47  3.386947e+04  1.333817e+07  8.738264e+03  1.031482e+05
48  8.471965e+03  1.280026e+07  2.490184e+02  5.532093e+04
49  8.670623e+03  1.280540e+07  4.200051e+02  5.571377e+04
50  8.545299e+03  1.278682e+07  3.889228e+02  5.479819e+04

In [12]:
a1

        y1_ideal      y2_ideal      y3_ideal      y4_ideal
0   6.187247e+04  1.286948e+07  5.326416e+04  1.094579e+05
1   8.664654e+03  1.280102e+07  8.224409e+02  5.553509e+04
2   8.585536e+03  1.278511e+07  4.342561e+02  5.475830e+04
3   1.496076e+04  1.177439e+07  4.080046e+04  1.215798e+04
4   1.925155e+03  1.226198e+07  1.061483e+04  2.326132e+04
5   8.231096e+04  1.390616e+07  4.001818e+04  1.787910e+05
6   8.643580e+03  1.279956e+07  3.271793e+01  5.545046e+04
7   9.082762e+03  1.282273e+07  4.379214e+02  5.659882e+04
8   8.627933e+03  1.280050e+07  4.325018e+02  5.546085e+04
9   9.120668e+03  1.277053e+07  1.044646e+03  5.462755e+04
10  3.528027e+04  1.291009e+07  2.538250e+04  8.568087e+04
11  6.187247e+04  1.286948e+07  5.326416e+04  1.094579e+05
12  4.833286e+05  1.311628e+07  4.806931e+05  5.224729e+05
13  2.491979e+05  1.358924e+07  2.233669e+05  3.223667e+05
14  6.171119e+04  1.283738e+07  5.386643e+04  1.078031e+05
15  1.530532e+04  1.248908e+07  1.737424e+04  4.686864e+04
16  1.228100e+07  3.678083e+01  1.280188e+07  1.123734e+07
17  1.333698e+07  5.120122e+07  1.279965e+07  1.447432e+07
18  5.015461e+07  1.280104e+07  5.120459e+07  4.802045e+07
19  1.335399e+07  4.010190e+04  1.390855e+07  1.226066e+07
20  1.506544e+07  1.950651e+06  1.561434e+07  1.398156e+07
21  3.657502e+09  3.676690e+09  3.657368e+09  3.657824e+09
22  3.649413e+09  3.243574e+09  3.657483e+09  3.631673e+09
23  3.657441e+09  3.663836e+09  3.657558e+09  3.657212e+09
24  1.462992e+10  1.465551e+10  1.462966e+10  1.463052e+10
25  3.291702e+10  3.294848e+10  3.291665e+10  3.291787e+10
26  4.395482e+09  4.263600e+09  4.398545e+09  4.389230e+09
27  4.474787e+09  4.329728e+09  4.478110e+09  4.467966e+09
28  3.683156e+09  3.702361e+09  3.683022e+09  3.683479e+09
29  3.663374e+09  3.657490e+09  3.663770e+09  3.662606e+09
30  3.721406e+09  3.790224e+09  3.720232e+09  3.723885e+09
31  2.356298e+04  1.125344e+07  5.361787e+04  1.835250e+02
32  1.463882e+03  1.239523e+07  4.239296e+03  3.000257e+04
33  2.455740e+04  1.123577e+07  5.561557e+04  3.500389e+01
34  7.131453e+03  1.274501e+07  9.816817e+02  5.137413e+04
35  1.724862e+04  1.228006e+07  1.362159e+04  4.354237e+04
36  1.150664e+06  6.133516e+06  1.333844e+06  8.464117e+05
37  1.000207e+05  1.445342e+07  5.351272e+04  2.170774e+05
38  8.945119e+03  1.281642e+07  1.027649e+03  5.648144e+04
39  1.228048e+07  2.346830e+02  1.280174e+07  1.123685e+07
40  4.832406e+07  2.540956e+07  4.918932e+07  4.676940e+07
41  2.217198e+05  1.304565e+07  2.129219e+05  2.700678e+05
42  2.216618e+05  1.297381e+07  2.142364e+05  2.666740e+05
43  2.105621e+03  1.251892e+07  3.028209e+03  3.794193e+04
44  8.492090e+03  1.280119e+07  2.313679e+02  5.538146e+04
45  2.389089e+04  1.150778e+07  5.849539e+04  1.005399e+04
46  3.228293e+01  1.227901e+07  8.710418e+03  2.443092e+04
47  3.386947e+04  1.333817e+07  8.738264e+03  1.031482e+05
48  8.471965e+03  1.280026e+07  2.490184e+02  5.532093e+04
49  8.670623e+03  1.280540e+07  4.200051e+02  5.571377e+04
50  8.545299e+03  1.278682e+07  3.889228e+02  5.479819e+04

In [62]:
class Data:
    def __init__(self, data):
        self.data = data
        self.x = data['x']
        self.ys = data.drop(['x'], axis = 1)
    
    def delta():

In [63]:
Data

__main__.Data

In [64]:
Data(train).x

0     -20.0
1     -19.9
2     -19.8
3     -19.7
4     -19.6
       ...
395    19.5
396    19.6
397    19.7
398    19.8
399    19.9
Name: x, Length: 400, dtype: float64

In [71]:
Data(train).ys

           y1         y2        y3         y4
0    5.496272  400.38100  1.041286  20.205830
1    5.160728  396.40286  0.379981  20.173979
2    4.851429  391.57290  0.333350  19.645940
3    5.398873  388.43604  0.447698  20.181671
4    4.959391  384.01794  0.778000  19.664125
..        ...        ...       ...        ...
395  4.835873  380.25308 -0.866284  19.568678
396  5.616182  383.70100 -0.313897  19.555042
397  4.990457  388.02800 -0.337167  19.841520
398  5.449649  391.93365 -0.671283  19.741413
399  5.644161  396.34897 -0.447318  19.774706

[400 rows x 4 columns]

In [66]:
train.drop(['x'], axis = 1) - train['x']

,y1,y2,y3,y4,0,1,2,3,4,5,...,390,391,392,393,394,395,396,397,398,399
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [933]:
class Counter(object):
    """A simple integral counter."""

    def __init__(self):
        """Initialize a new counter with zero as starting value."""
        self.value = 0

    def inc(self, amount=1):
        """Increment counter's value."""
        self.value = max(self.value + amount, 0)

    def dec(self, amount=1):
        """Decrement counter's value."""
        self.inc(-amount)


# BEGIN (write your solution here)
class LimitedCounter(Counter):
    def __init__(self, limit = 0):
        self.value = 0
        self.limit = limit
    
    def inc(self, amount=1):
        """Increment counter's value."""
        self.value = max(self.value + amount, 0)
        self.value = min(self.value, self.limit)

    def dec(self, amount=1):
        """Decrement counter's value."""
        self.value = max(self.value - amount, 0)
        self.value = min(self.value, self.limit)

In [934]:
counter = LimitedCounter(limit=10)
counter.inc()
counter.inc(7)
counter.value

8

In [935]:
counter.dec(10)
counter.value

0

In [878]:
class HourClock:
    def __init__(self, hours = 0):
        self.hours = hours
        
    def _get_hours(self):
        return self._hours
        
    def _get_hourse_in_twelve(self, value):
        if value > 12:
            value = value % 12
        self._hours = value
    
    hours = property()
    hours = hours.getter(_get_hours)
    hours = hours.setter(_get_hourse_in_twelve)

In [893]:
class HourClock:
    def __init__(self):
        self.position = 0
 
    @property
    def hours(self):
        return self.position
 
    @hours.setter
    def hours(self, new_pos):
        self.position = new_pos % 12

In [894]:
clock = HourClock()
assert clock.hours == 0

In [895]:
clock.hours += 6
clock.hours += 5
assert clock.hours == 11

In [896]:
clock.hours += 4
assert clock.hours == 3

In [897]:
clock.hours -= 4
assert clock.hours == 11
assert -1 == 11

AssertionError:

In [876]:
clock.hours += 5
clock.hours

5

In [877]:
clock.hours += 5
clock.hours

10

In [872]:
clock.hours += 5
clock.hours

3

In [756]:
clock.new

AttributeError: 'HourClock' object has no attribute 'new'

In [663]:
15 % 12

3

In [612]:
c.dec().value

0

In [528]:
c.inc(1).inc().dec().value

3

In [475]:
c.inc().value

4

In [450]:
c.inc()

In [443]:
c.inc().inc(5)

In [444]:
d = c.inc(100)
d.dec().value  # 99
forty_two = Counter(42)
forty_two.value  # 42

42

In [273]:
c.dec()
c.dec(30)
c.value

75

In [247]:
c.dec(delta=100)
c.value

0

In [248]:
c.value

0

In [249]:
c1 = Counter()
c2 = Counter()
c1.inc(10)
c2.inc(20)

In [250]:
c1.value

10

In [251]:
c2.value

20

In [177]:
c.dec()
c.dec(30)
c.value

52

In [178]:
c.dec(delta=100)
c.value  # 0

-48

In [563]:
123//12

10

In [564]:
123%12

3

In [463]:
import pandas as pd
test = load_data("/Users/renatarenata/uibh/My_assessments/python_project_iubh/data/test.csv")
train = load_data("/Users/renatarenata/uibh/My_assessments/python_project_iubh/data/train.csv")
ideal = load_data("/Users/renatarenata/uibh/My_assessments/python_project_iubh/data/ideal.csv")

Data is perfect!
Data is perfect!
Data is perfect!

In [450]:

train.columns = [column + '_train' if column != 'x' else 'x' for column in train.columns]

In [451]:
def squared_error(y_1, y_2):
    """
    Squared error calculation
    :parameter
    :return: squared error
    """
    return (y_2 - y_1) ** 2

In [452]:
def find_ideal(ideal, train, y_label):
    squared_deviations = pd.DataFrame()
    
    for column in ideal.columns:
        squared_deviations[column] = squared_error(train[y_label], ideal[column])
            
    return squared_deviations.sum(axis = 0).idxmin()

In [453]:
find_ideal(ideal, train, 'y1_train')

'y46'

In [454]:
find_ideal(ideal, train, 'y2_train')

'y16'

In [456]:
train

        x  y1_train   y2_train  y3_train   y4_train
0   -20.0  5.496272  400.38100  1.041286  20.205830
1   -19.9  5.160728  396.40286  0.379981  20.173979
2   -19.8  4.851429  391.57290  0.333350  19.645940
3   -19.7  5.398873  388.43604  0.447698  20.181671
4   -19.6  4.959391  384.01794  0.778000  19.664125
..    ...       ...        ...       ...        ...
395  19.5  4.835873  380.25308 -0.866284  19.568678
396  19.6  5.616182  383.70100 -0.313897  19.555042
397  19.7  4.990457  388.02800 -0.337167  19.841520
398  19.8  5.449649  391.93365 -0.671283  19.741413
399  19.9  5.644161  396.34897 -0.447318  19.774706

[400 rows x 5 columns]

In [464]:
work_df = preparing_workdf(ideal,train)
y1_traindataset = y_traindataset(work_df,a='y1_train')
y2_traindataset = y_traindataset(work_df,a='y2_train')
y3_traindataset = y_traindataset(work_df,a='y3_train')
y4_traindataset = y_traindataset(work_df,a='y4_train')
    # getting the best ideal functions
y1_traindataset1 = training_dataframes(y1_traindataset)
y2_traindataset2 = training_dataframes(y2_traindataset)
y3_traindataset3 = training_dataframes(y3_traindataset)
y4_traindataset4 = training_dataframes(y4_traindataset)

In [465]:
def testing_funct_for_ideal(test_df,train_df,ideal_df,y1_traindataset1,y2_traindataset2,y3_traindataset3,y4_traindataset4):
    try:
            # y1_train, y2_train, y3_train, y4_train and x from train_df
            y1_train = train_df["y1"]
            y2_train = train_df["y2"]
            y3_train = train_df["y3"]
            y4_train = train_df["y4"]
            x = train_df["x"]
            # getting all ideal functions for the y1, y2, y3, y4
            y1_ideal = ideal_df[y1_traindataset1]
            y2_ideal = ideal_df[y2_traindataset2]
            y3_ideal = ideal_df[y3_traindataset3]
            y4_ideal = ideal_df[y4_traindataset4]
            
            
            df1 = test_df.copy()
            xtest = df1["x"]
            ytest = df1["y"]
            
            map_dev_df = pd.DataFrame(columns=["x_test", 
                                                         "y_test", 
                                                         "y1_delta", 
                                                         "y2_delta", 
                                                         "y3_delta" ,
                                                         "y4_delta", 
                                                         "y1_matched",
                                                         "y2_matched",
                                                         "y3_matched",
                                                         "y4_matched",
                                                         "match_fun"
                                                        ])
        
            for xt,yt in zip(xtest,ytest):
                y1_delta = np.abs(y1_ideal[x==xt].values[0]-yt) - np.sqrt(2) * np.abs(y1_train[x==xt].values[0]-y1_ideal[x==xt].values[0])
                y2_delta = np.abs(y2_ideal[x==xt].values[0]-yt) - np.sqrt(2) * np.abs(y2_train[x==xt].values[0]-y2_ideal[x==xt].values[0])
                y3_delta = np.abs(y3_ideal[x==xt].values[0]-yt) - np.sqrt(2) * np.abs(y3_train[x==xt].values[0]-y3_ideal[x==xt].values[0])
                y4_delta = np.abs(y4_ideal[x==xt].values[0]-yt) - np.sqrt(2) * np.abs(y4_train[x==xt].values[0]-y4_ideal[x==xt].values[0])
                y1_matched = (y1_delta <= 0)
                y2_matched = (y2_delta <= 0)
                y3_matched = (y3_delta <= 0)
                y4_matched = (y4_delta <= 0)
                delta = max([y1_delta,y2_delta,y3_delta,y4_delta]) 
                match_fun = sum([y1_matched,y2_matched,y3_matched,y4_matched])
                map_dev_df = map_dev_df.append({
                    "x_test":xt,
                    "y_test":yt,
                    "y1_delta":y1_delta,
                    "y2_delta":y2_delta,
                    "y3_delta":y3_delta,
                    "y4_delta":y4_delta,  
                    "delta":delta,
                    "y1_matched":y1_matched,
                    "y2_matched":y2_matched,
                    "y3_matched":y3_matched,
                    "y4_matched":y4_matched,
                    'match_fun':match_fun
             
                },ignore_index=True)
                
            Y1_final_x_points = map_dev_df[map_dev_df['y1_matched']==True]['x_test']
            Y1_final_y_points = map_dev_df[map_dev_df['y1_matched']==True]['y_test']
                    
            Y2_final_x_points = map_dev_df[map_dev_df['y2_matched']==True]['x_test']
            Y2_final_y_points = map_dev_df[map_dev_df['y2_matched']==True]['y_test']
                
            Y3_final_x_points = map_dev_df[map_dev_df['y3_matched']==True]['x_test']
            Y3_final_y_points = map_dev_df[map_dev_df['y3_matched']==True]['y_test']
                
            Y4_final_x_points = map_dev_df[map_dev_df['y4_matched']==True]['x_test']
            Y4_final_y_points = map_dev_df[map_dev_df['y4_matched']==True]['y_test']
            
            

            return map_dev_df
        
    
    except Exception as e:
        print('Error! Code: {c}, Message, {m}'.format(c = e.code, m = str(e)))

In [466]:
res_df = testing_funct_for_ideal(test,train,ideal,y1_traindataset1,y2_traindataset2,y3_traindataset3,y4_traindataset4)

In [467]:
res_df

,x_test,y_test,y1_delta,y2_delta,y3_delta,y4_delta,y1_matched,y2_matched,y3_matched,y4_matched,match_fun,delta
0,-0.2,0.671806,[-0.12809542875934643],[0.4432529836891079],[0.428581608042112],[1.131264405113362],[True],[False],[False],[False],[1],[1.131264405113362]
1,-8.6,75.191140,[70.64889114181715],[0.8298003331341552],[74.17499385544171],[65.78231033430244],[False],[False],[False],[False],[0],[74.17499385544171]
2,7.8,62.059845,[57.23057738666117],[1.1766436040966217],[62.66896748361647],[53.701476229466415],[False],[False],[False],[False],[0],[62.66896748361647]
3,-5.7,31.515112,[26.8588368689943],[0.9228025144977997],[31.888508717972424],[24.749529047293812],[False],[False],[False],[False],[0],[31.888508717972424]
4,-4.0,109.679810,[105.95725991355754],[93.5411322180737],[109.8154037777998],[105.06811534275074],[False],[False],[False],[False],[0],[109.8154037777998]
...,...,...,...,...,...,...,...,...,...,...,...,...
95,14.6,-0.096100,[4.405628682298609],[212.56210290853664],[0.11636866634685461],[14.864901260593504],[False],[False],[False],[False],[0],[212.56210290853664]
96,-11.4,4.589698,[0.09869715316466371],[124.84499237225656],[5.4506126916488915],[6.364266460567362],[False],[False],[False],[False],[0],[124.84499237225656]
97,16.4,16.092396,[10.843520139472423],[252.4079421658218],[14.868130475013915],[0.370709407618953],[False],[False],[False],[False],[0],[252.4079421658218]
98,12.6,277.921200,[272.8104371080556],[119.07566836374767],[277.94241755573137],[264.5253716152095],[False],[False],[False],[False],[0],[277.94241755573137]
99,10.6,112.269550,[106.94673829344829],[-0.5819236960946688],[110.66923327512201],[101.00005382668601],[False],[True],[False],[False],[1],[110.66923327512201]

In [468]:
def get_fin_res(res_df):
    fin_df = res_df[["x_test","y_test","match_fun","delta"]]
    fin_df.rename(columns={'x_test':' X (test func) ', 'y_test':'Y (test func)','delta':'Delta Y (test func)','match_fun':'No. of ideal func'}, inplace = True)
    dict_columns_type = {'No. of ideal func': float,'Delta Y (test func)': float}
    fin_df = fin_df.astype(dict_columns_type)
    return fin_df

In [469]:
fin_df = get_fin_res(res_df)

/Users/renatarenata/opt/miniconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [470]:
fin_df

     X (test func)   Y (test func)  No. of ideal func  Delta Y (test func)
0              -0.2       0.671806                1.0             1.131264
1              -8.6      75.191140                0.0            74.174994
2               7.8      62.059845                0.0            62.668967
3              -5.7      31.515112                0.0            31.888509
4              -4.0     109.679810                0.0           109.815404
..              ...            ...                ...                  ...
95             14.6      -0.096100                0.0           212.562103
96            -11.4       4.589698                0.0           124.844992
97             16.4      16.092396                0.0           252.407942
98             12.6     277.921200                0.0           277.942418
99             10.6     112.269550                1.0           110.669233

[100 rows x 4 columns]

In [347]:
def find_all_ideal(ideal, train):
    """
    :param ideal:
    :param train:
    :return:
    """
    train.columns = [column + '_train' if column != 'x' else 'x' for column in train.columns]

    trained_list = ['y1_train', 'y2_train', 'y3_train', 'y4_train']
    ideals_y = {}
    for y_label in trained_list:
        ideals_y[y_label] = find_ideal(ideal, train, y_label)

    return ideals_y


def test_all_ideal(test, train, ideal, ideals_y):
    test_mapping = {}
    trained_list = ['y1_train', 'y2_train', 'y3_train', 'y4_train']
    for y_label in trained_list:
        test_mapping[y_label] = test_ideal(test, train, ideal, y_label, ideals_y[y_label])
        return test_mapping


def find_ideal(ideal, train, y_label):
    """
    :param ideal:
    :param train:
    :param y_label:
    :return:
    """
    squared_deviations = pd.DataFrame()

    for column in ideal.columns:
        squared_deviations[column] = squared_error(train[y_label], ideal[column])

    return squared_deviations.sum(axis=0).idxmin()


def test_ideal(test, train, ideal, y_label, ideal_label):
    """
    :param test:
    :param train:
    :param ideal:
    :param y_label:
    :param ideal_label:
    :return:
    """
    try:
        dfs = [test, train, ideal[['x', ideal_label]]]
        data = ft.reduce(lambda left, right: pd.merge(left, right, on='x'), dfs)

        delta_label = y_label + '_delta'
        match_label = y_label + '_matched'

        data[delta_label] = np.abs(data[ideal_label] - data['y']) - tolerance * np.abs(
            data[y_label] - data[ideal_label])
        data[match_label] = (data[delta_label] <= 0)

        mapping = data[['x', 'y', ideal_label, delta_label, match_label]]
        return mapping

    except Exception as e:
        print('Error! Code: {c}, Message, {m}'.format(c=e.code, m=str(e)))


def get_points(mapping, y_label):
    match_label = y_label + '_matched'

    x_points = mapping[mapping[match_label] == True]['x']
    y_points = mapping[mapping[match_label] == True]['y']

    return x_points, y_points

In [405]:
class Data(object):
    def __init__(self, y_label= None, y_seria= None, ideal_label= None, ideal_seria= None, mapping = None):
        self.y_label = y_label
        self.y_seria = y_seria
        self.ideal_label = ideal_label
        self.ideal_seria = ideal_seria
        self.mapping = mapping


class TestData(Data):
    def __init__(self, mapping):
        super().__init__(mapping)

In [346]:
test = load_data("/Users/renatarenata/uibh/My_assessments/python_project_iubh/data/test.csv")
train = load_data("/Users/renatarenata/uibh/My_assessments/python_project_iubh/data/train.csv")
ideal = load_data("/Users/renatarenata/uibh/My_assessments/python_project_iubh/data/ideal.csv")

Data is perfect!
Data is perfect!
Data is perfect!

In [348]:
ideals_y = find_all_ideal(ideal, train)

In [349]:
ideals_y

{'y1_train': 'y46', 'y2_train': 'y16', 'y3_train': 'y6', 'y4_train': 'y33'}

In [357]:
train['y1_train']

0      5.496272
1      5.160728
2      4.851429
3      5.398873
4      4.959391
         ...
395    4.835873
396    5.616182
397    4.990457
398    5.449649
399    5.644161
Name: y1_train, Length: 400, dtype: float64

In [404]:
train_data = Data('y1_train', train['y1_train'], 'y46', ideal['y46'])

In [407]:
train_data.mapping = res_df

In [408]:
train_data.mapping

       x           y       y46  y1_train_delta  y1_train_matched
0   -0.2    0.671806  0.693147       -0.128095              True
1   -0.2    1.158924  0.693147        0.316341             False
2   -8.6   75.191140  4.454347       70.648891             False
3    7.8   62.059845  4.356709       57.230577             False
4   -5.7   31.515112  4.043051       26.858837             False
..   ...         ...       ...             ...               ...
95  14.6   -0.096100  4.983607        4.405629             False
96 -11.4    4.589698  4.736198        0.098697             False
97  16.4   16.092396  5.099866       10.843520             False
98  12.6  277.921200  4.836282      272.810437             False
99  10.6  112.269550  4.663439      106.946738             False

[100 rows x 5 columns]

In [432]:
class Data(object):
    def __init__(self, y_label=None, ideal_label=None):
        self.x = train['x']
        self.y_label = y_label
        self.ideal_label = ideal_label
        self.mapping = mapping
        
    def sign_y_train(self, train):
        self.y_train = train[self.y_label]
        
    def sign_y_ideal(self, ideal):
        self.y_ideal = ideal[self.ideal_label]

In [428]:
y1 = Data(y_label="y1_train")

In [429]:
y1.ideal_label = 'y46'

In [430]:
y1.sign_y_train(train)
y1.sign_y_ideal(ideal)

In [441]:
test

       x           y
0   -0.2    0.671806
1   -8.6   75.191140
2    7.8   62.059845
3   -5.7   31.515112
4   -4.0  109.679810
..   ...         ...
95  14.6   -0.096100
96 -11.4    4.589698
97  16.4   16.092396
98  12.6  277.921200
99  10.6  112.269550

[100 rows x 2 columns]

In [440]:
y1.y_ideal

0      5.298317
1      5.293305
2      5.288267
3      5.283204
4      5.278115
         ...
395    5.273000
396    5.278115
397    5.283204
398    5.288267
399    5.293305
Name: y46, Length: 400, dtype: float64

In [436]:
y1.y_train

0      5.496272
1      5.160728
2      4.851429
3      5.398873
4      4.959391
         ...
395    4.835873
396    5.616182
397    4.990457
398    5.449649
399    5.644161
Name: y1_train, Length: 400, dtype: float64

In [433]:
def test_ideal(test, y):
    """
    :param test:
    :param train:
    :param ideal:
    :param y_label:
    :param ideal_label:
    :return:
    """
    try:
        dfs = [test, y.y_train, y.y_ideal]
        data = ft.reduce(lambda left, right: pd.merge(left, right, on="x"), dfs)

        delta_label = y_label + "_delta"
        match_label = y_label + "_matched"

        data[delta_label] = np.abs(data[ideal_label] - data["y"]) - tolerance * np.abs(
            data[y_label] - data[ideal_label]
        )
        data[match_label] = data[delta_label] <= 0

        mapping = data[["x", "y", ideal_label, delta_label, match_label]]
        y.mapping = mapping
        return y

    except Exception as e:
        print("Error! Code: {c}, Message, {m}".format(c=e.code, m=str(e)))

In [434]:
test_ideal(test, y1)

AttributeError: 'KeyError' object has no attribute 'code'

In [437]:
train.x

0     -20.0
1     -19.9
2     -19.8
3     -19.7
4     -19.6
       ...
395    19.5
396    19.6
397    19.7
398    19.8
399    19.9
Name: x, Length: 400, dtype: float64

In [439]:
mapping

NameError: name 'mapping' is not defined